p {
  font-family: 'Open Sans', sans-serif;
  line-height: 145%;
  font-size: medium;
  color: rgb(65, 65, 65);
}

h1 , h2 , h3 {
  font-family: 'Lilita One', cursive;
}

a {
  font-size: large;
  text-decoration: none;
  text-transform: uppercase;
}

a:link {
  color: blue;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.2s;
}

a:visited {
  color: rgb(111, 34, 255);
}

a:hover,
a:active {
  color: rgb(73, 73, 255);
  margin-bottom: 2px solid rgb(73, 73, 255);
}

q,
blockquote {
  width: 45%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
  margin-bottom: 80px;
  padding-left: 30px;
  font-size: 160%;
  background-color: rgb(160, 160, 160);
  border-left: 3px solid rgb(255, 141, 48);
}

q {
  display: block;
  clear: both;
}

body {
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
  background: -webkit-linear-gradient(
    76deg,
    rgb(255, 255, 255),
    rgb(146, 200, 255) 
  );
  background: linear-gradient(76deg, rgb(255, 255, 255), rgb(146, 200, 255));
  background-image: url("background.jpg");
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: cover;
}

.fermier {
  border-left: 3px solid red;
}

.villageois {
  border-left: 3px solid green;
}

header h1 {
  background-color: yellow;
}

.bien , .mal {
  text-transform: uppercase;
}

.bien {
  color: green;
}

.mal {
  color: red;
}

tr:nth-child(even) {background: #CCC}
tr:nth-child(odd) {background: #FFF}

ol li:nth-child(1) {
  background-image: url("bien.png");
  height: 80px;
  background-repeat: no-repeat;
}
ol li:nth-child(1) span {
  padding-left: 60px;
  text-align: center;
  line-height: 50px;
}
ol li:nth-child(2) {
  background-image: url("mal.png");
  height: 80px;
  background-repeat: no-repeat;
}
ol li:nth-child(2) span {
  padding-left: 60px;
  text-align: center;
  line-height: 50px;
}
ol li:nth-child(3) {
  background-image: url("chat.png");
  height: 80px;
  background-repeat: no-repeat;
}
ol li:nth-child(3) span {
  padding-left: 60px;
  text-align: center;
  line-height: 50px;
}
ol li:nth-child(4) {
  height: 80px;
}
ol li:nth-child(4) span {
  padding-left: 60px;
  text-align: center;
  line-height: 50px;
}

ol {
  list-style: none;
}

p:first-of-type {
  font-weight: bold;
}

.floater {
  float: left;
  margin: 20px;
}

br {
  clear: both;
}

.notification{
  background:#FFFFDD;
  padding:.5rem 1rem;
  border:3px solid #DDDDCC;
  width:250px;
  font-weight:bold;
  color: #333300;
  position: absolute;
  top: 0;
  right: 0;
}
