body {
  font-family: "Oswald", sans-serif;
}

p {
  line-height: 145%;
}

/*-----------------------------------*/
/*---------------NAVBAR--------------*/
/*-----------------------------------*/

nav {
  padding: 15px;
  background-color: #e9edf2;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav li:nth-child(1),
nav li:nth-child(2),
nav li:nth-child(3),
nav li:nth-child(4) {
  padding: 0px;
  float: left;
}

nav li:nth-child(5),
nav li:nth-child(6),
nav li:nth-child(7),
nav li:nth-child(8) {
  padding: 0px;
  float: right;
}

nav li a {
  color: black;
  display: block;
  text-align: center;
  padding: 14px 15px;
  text-decoration: none;
}

nav img {
  height: 43px;
  max-width: 100%;
  max-height: 100%;
  vertical-align: middle;
  margin-right: 40px;
}

nav li:nth-child(4) a {
  color: rgb(114, 114, 114);
}

nav button,
nav button:active,
nav button:hover,
nav button:link,
nav button:visited {
  padding: 10px;
  border: 1px solid black;
  font-weight: bolder;
  font-size: 90%;
}

nav button:first-child {
  background-color: #3f9bf8;
  color: white;
  border-bottom-left-radius: 9px;
  border-top-left-radius: 9px;
}

nav button:last-child {
  background-color: #fff;
  border-bottom-right-radius: 9px;
  border-top-right-radius: 9px;
}

/*-----------------------------------*/
/*---------------HEADER--------------*/
/*-----------------------------------*/
header {
  padding-top: 50px;
  background-color: #e9edf2;
}

h1 {
  text-align: center;
  font-size: 240%;
  font-weight: lighter;
  padding-bottom: 65px;
}

/*--------FISRT DIV HEADER--------------*/

.first-div {
  background-color: #3f4655;
  display: grid;
  display: inline-grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.first-div article {
  border: 1px solid rgb(56, 56, 56);
  padding: 35px;
  text-align: center;
  color: #acacac;
}

.first-div article h2 {
  color: #fff;
  font-size: 130%;
  font-weight: bolder;
  margin-bottom: 20px;
}

.first-div article img {
  height: 160px;
  width: auto;
  margin: 10px;
}

/*--------SECOND DIV HEADER---------*/

.sec-div {
  text-align: center;
  font-family: serif;
}
.sec-div img {
  width: 100%;
}

.sec-div p {
  margin: 30px auto;
  font-size: 150%;
  width: 40%;
}

.sec-div p:last-of-type {
  font-size: 100%;
}

.sec-div a {
  background-color: #3f9bf8;
  padding: 15px 30px;
  color: white;
  border: 1px solid black;
  text-decoration: none;
  border-radius: 8px;
  font-weight: bold;
  font-size: 110%;
  font-family: sans-serif;
}

/*-----------------------------------*/
/*-----------FIRST SECTION-----------*/
/*-----------------------------------*/
.sec-section {
  margin: 30px auto;
  padding: 60px;
  text-align: center;
  padding-left: 10em;
  padding-right: 10em;
}
.sec-section h2 {
  text-align: center;
  font-size: 200%;
  font-weight: lighter;
  padding-bottom: 20px;
}

.sec-section p {
  text-align: center;
  font-size: 150%;
  font-weight: lighter;
  font-family: fantasy;
  padding-bottom: 30px;
}

.grid-div {
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.grid-div article:first-child {
  border-right: rgb(150, 150, 150) 1px solid;
}

.grid-div article {
  padding: 4em;
}

.grid-div article h3 {
  text-align: center;
  font-size: 150%;
  font-weight: lighter;
  padding-bottom: 5px;
}

.grid-div article p {
  text-align: center;
  font-size: 120%;
  font-weight: lighter;
  font-family: fantasy;
  padding-bottom: 5px;
}

.grid-div article img {
  height: 100px;
  width: auto;
}

.grid-div article a {
  display: inline-block;
  padding: 10px;
  border: solid black 1px;
  background-color: #3f9bf8;
  text-decoration: none;
  color: #fff;
  border-radius: 6px;
  margin-bottom: 20px;
}

.grid-div article i {
  font-style: italic;
}

/*-----------------------------------*/
/*------------SEC SECTION------------*/
/*-----------------------------------*/

.users-sec {
  background-color: #e9edf2;
  text-align: center;
  padding: 3.5em;
}

.users-sec h2 {
  text-align: center;
  font-size: 200%;
  font-weight: lighter;
  padding-bottom: 20px;
}

.users-sec p {
  display: inline-block;
  text-align: center;
  font-size: 150%;
  font-weight: lighter;
  font-family: fantasy;
  padding-bottom: 30px;
  width: 50%;
}
/*-----------------------------------*/
/*-----------FORM SECTION------------*/
/*-----------------------------------*/

.form-sec {
  text-align: center;
  padding: 3.5em;
}

.form-sec h2 {
  text-align: center;
  font-size: 220%;
  font-weight: lighter;
  padding-bottom: 20px;
}

.form-sec p {
  display: inline-block;
  text-align: center;
  font-size: 150%;
  font-weight: lighter;
  font-family: fantasy;
  padding-bottom: 30px;
  width: 50%;
}

.under-form {
  display: inline;
  margin: 20px;
  color: #888888;
  font-size: 75%;
}
.under-form a {
  color: #888888;
  display: inline;
}

/*-----------FORM------------*/

form {
  display: inline-block;
  width: 50%;
  background-color: #e9edf2;
  border: black solid 1px;
  border-radius: 5px;
  padding: 2em;
}

form label {
  display: block;
  font-family: "Oswald", sans-serif;
  text-align: left;
  font-size: 100%;
  font-weight: 100;
  margin-bottom: 10px;
}
form input {
  display: block;
  padding: 8px;
  width: 90%;
  font-size: 100%;
  border-radius: 5px;
  border: rgb(136, 136, 136) solid 1px;
  margin-bottom: 20px;
}

form p {
  font-size: 10px;
}

.submit-btn {
  display: inline-block;
  background-color: #3f9bf8;
  text-align: center;
  color: #fff;
  font-weight: 600;
  width: 50%;
}

/*-----------------------------------*/
/*-----------FORM SECTION------------*/
/*-----------------------------------*/

footer {
  background-color: #3F4655;
  color: #fff;
  padding: 3em;
}
.footer-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  font-size: 90%;
} 

.footer-grid li {
  margin: 10px;
}
.footer-grid li:first-of-type{
  color: rgb(172, 172, 172);
}
footer img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

footer p {
  text-align: center;
  font-size: 90%;
  color: #b8b8b8;
}
